<header class="header">
    <div class="logo-wissal">
        <a href=""><img src="../../assets/images/logo-wissal.png" alt=""></a>
    </div>
    <div class="search">
        <input type="text" class="search-input" placeholder="Chercher dans l'intranet">
        <button>
            <i class="material-icons">search</i>
        </button>
    </div>
    <div class="right-section">

        <div class="bonjour-utilisateur">
            <div>Bonjour M. <span>Youssef AZHARI</span></div>
            <i class="material-icons">person</i>
        </div>

        <div class="notifications">
            <div class="counter">
                54
            </div>
            <button class="notifications-button">
                <i class="material-icons notifications-button-i">notifications</i>
            </button>
        </div>
        
        <div class="notifications">
            <div class="counter">
                5
            </div>
            <button class="notifications-button">
                <i class="material-icons notifications-button-i">mail</i>
            </button>
        </div>

        <div class="notifications">
            <button class="notifications-button">
                <i class="material-icons notifications-button-i">menu</i>
            </button>
        </div>   

        <div class="notifications">
            <button class="notifications-button">
                <i class="material-icons notifications-button-i">settings</i>
            </button>
        </div>
    </div>
</header>