<nav class="container">
    <div class="container-element">
        <i class="material-icons first-icon">home</i>
        <span>ma page</span>
    </div>

    <div class="container-element">
        <i class="material-icons first-icon">work</i>
        <span>gestion de poste de fonction</span>
        <i class="material-icons second-icon">keyboard_arrow_down</i>
    </div>

    <div class="container-element">
        <i class="material-icons first-icon">extension</i>
        <span>gestion de redevance</span>
        <i class="material-icons second-icon">keyboard_arrow_down</i>
    </div>

    <div class="container-element">
        <i class="material-icons first-icon">pie_chart</i>
        <span>statistiques</span>
        <i class="material-icons second-icon">keyboard_arrow_down</i>
    </div>

    <div class="container-element">
        <i class="material-icons first-icon">mail</i>
        <span>gestion de courrier administratif</span>
    </div>

    <div class="container-element">
        <i class="material-icons first-icon">description</i>
        <span>gestion des e-factures</span>
        <i class="material-icons second-icon">keyboard_arrow_down</i>
    </div>

    <div class="container-element">
        <i class="material-icons first-icon">holiday_village</i>
        <span>gestion de centres d'estivage</span>
    </div>

    <div class="container-element">
        <i class="material-icons first-icon">insert_chart</i>
        <span>outil du reporting ess</span>
    </div>

    <div class="container-element">
        <i class="material-icons first-icon">menu_book</i>
        <span>bibliothèque</span>
        <i class="material-icons second-icon">keyboard_arrow_down</i>
    </div>
</nav>